includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    
    paths:
        - app
        - routes
    
    excludePaths:
        - app/Console/Kernel.php
        - app/Exceptions/Handler.php
    
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    
    ignoreErrors:
        - '#Unsafe usage of new static#'
        - '#Cannot call method.*on mixed#'
