@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-brand: #4F46E5;
  --color-vertical-food: #F97316;
  --color-vertical-hotel: #06B6D4;
  --color-vertical-ride: #10B981;
  --color-vertical-service: #8B5CF6;
  --color-vertical-career: #EC4899;
}